#comment
#comment2
    script(src='https://cdnjs.cat.net/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(id='dsq-count-scr1' src='//cdn1.lncld.net/static/js/3.0.4/av-min.js')
    script(id='dsq-count-scr' src='//unpkg.com/valine/dist/Valine.min.js')
    script.
        (function() {
            new Valine({
                el: '#comment',
                notify: false,
                verify: false,
                appId: 'B3xcjTWq77EgT99KmwW2D037-gzGzoHsz',
                appKey: 'qDSExhsQY3zUDDUz3QvjjWcc',
                placeholder: 'just go go',
                path: window.location.pathname,
                avatar: 'mm'
            });
        })
